.book-show-block{
	margin: 20px;
	width: 240px;
	height: 370px;
	padding: 10px;
	border: .2px solid #E6E6FA;
	float: left;
	text-align: center;
}
.container {
	min-height: 750px;
	
}
.footer {
  background-color: #efefef;
  text-align: center;
}