.book-show-block{
	margin: 20px;
	width: 240px;
	height: 370px;
	padding: 10px;
	border: .2px solid #E6E6FA;
	float: left;
	text-align: center;
}
.container {
	overflow: auto;
	padding-bootom: 180px;
}
.footer {
	position: relative;
	margin-top: -180px;
	height: 180px;
	clear:

}