<!-- Details part start-->
    <div class='container rounded'>
	    <div>
			<div class="cover">
				<img class="img-rounded" src="{{ book.get('bookImage') }}" width="100%" height="100%">
			</div>
			<div class="table img-rounded">
		    <table style="margin: 3%;width: 100%">
		    	<th style="width: 10%"></th>
		    	<th></th>
		    	<tr>
		    		<td>Title</td>
		    		<td>: {{ book.get('title') }}</td>
		    	</tr>
		    	<tr>
		    		<td>Author</td>
		    		<td>: {{ book.get('author') }}</td>
		    	</tr>
		    	<tr>
		    		<td>Edition</td>
		    		<td>: {{ book.get('edition') }}</td>
		    	</tr>
		    	<tr>
		    		<td>Category</td>
		    		<td>: {{ book.get('catagory') }}</td>
		    	</tr>
		    	<tr>
		    		<td>Price</td>
		    		<td>: {{ book.get('price') }}</td>
		    	</tr>
		    </table>
		    </div>
		</div>
		<!--overview goes here	-->
		<div class="rounded Overview">
			<h3 style="padding-left: 2%">Overview:</h3>
			<hr style="border-color: black">
			<p style="padding-left:2%">{{ book.get('abstract') }}</p>
		</div>
	</div>

</body>
</html>