<!-- Details part start-->
    <div class='container rounded'>
	    <div id="infoBlock">
			<div class="cover">
				<img class="img-rounded" src="data:image/png;base64,{{ book.get('bookImage') }}" width="200px" height="300px">
			</div>
			<button type="button" id = "remove" class="btn btn-danger form-control" >Remove</button>
			<div class="tableHolder img-rounded">
			<h4 id="Dtl{{ book.get('bookId') }}"style="padding-left: 2%;"><strong>Book information:</strong></strong></h4>
			<hr style="">
		    <table style="margin: 3%;max-width: 700px;">
		    	<th style="width: 10%"></th>
		    	<th></th>
		    	<tr>
		    		<td><strong>Title</strong></td>
		    		<td>: {{ book.get('title') }}</td>
		    	</tr>
		    	<tr>
		    		<td><strong>Author</strong></td>
		    		<td>: {{ book.get('author') }}</td>
		    	</tr>
		    	<tr>
		    		<td><strong>Edition</strong></td>
		    		<td>: {{ book.get('edition') }}</td>
		    	</tr>
		    	<tr>
		    		<td><strong>Category</strong></td>
		    		<td>: {{ book.get('catagory') }}</td>
		    	</tr>
		    	<tr>
		    		<td><strong>Price</strong></td>
		    		<td>: {{ book.get('price') }}</td>
		    	</tr>
		    </table>
		    </div>
		</div>
		<!--overview goes here	-->
		<div class="rounded Overview">
			<h3 style="padding-left: 2%">Overview:</h3>
			<hr>
			<p style="padding: 0px 30px 30px 30px;">{{ book.get('abstract') }}</p>
		</div>
	</div>