<div class="page-header">
  <h3>ADD A NEW BOOK</h3>
</div>
<form class="form-horizontal" id="formId" enctype="multipart/form-data">

              <label class="control-label col-sm-2">Book Name:</label>
              <input type="text" class="form-control" id="bName" placeholder="Book Name" style="width: 40%" autofocus required>
              <br>

              <label class="control-label col-sm-2">Author Name:</label>
              <input type="text" class="form-control" id="AuthorName" placeholder="Author Name" style="width: 40%" required>
              <br>

              <label class="control-label col-sm-2">Edition:</label>
              <input type="number" class="form-control" id="edition" placeholder="Edition" style="width: 10%" required>
              <br>

              <label class="control-label col-sm-2">Category:</label>
              <input type="text" class="form-control" id="catagory" placeholder="Book category" style="width: 40%" required>
              <br>

              <label class="control-label col-sm-2">Price:</label>
              <input type="number" class="form-control" id="price" placeholder="Price" style="width: 10%" required>
              <br>

              <label class="control-label col-sm-2">Abstract:</label>
              <textarea class="form-control" id="abstract" placeholder="Write the abstract of the book you want to add" style="width: 40%" required></textarea>
              <br>

              <label class="control-label col-sm-2">Image:</label>
              <input type="file" name="fileToUpload" id="fileToUpload" accept="image/jpg, image/jpeg, image/png" required>
              <p style="color: #ff9900">[image maximum size: 500 KB and type: .jpg, .png]</p>
              <br>

       <label class="control-label col-sm-2"></label>
       <button type="submit" class="btn btn-primary form-control" id="addBookBtn" style="width: 10%">Submit</button>
       <button type="button" id = "cancel" class="btn btn-warning form-control" style="width: 10%">Cancel</button>
       <br>
</form>
